[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "==1.4.2"

[dev-packages]
setuptools-scm = "==8.1.*"
setuptools = "70.0.*"
wheel = "==0.43.*"
twine = "==5.1.*"
build = "==1.2.*"
tempit = {file = ".", editable = true}

[requires]
python_version = "3.12"
